*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-img-top {
    height: 35%;
    object-fit: cover;
}

.fa:hover {
    cursor: pointer;
}

.container {
    margin: 3rem;
}

.card {
    height: 35vh;
}